/* Container Styling */
.full-container {
    width: 100%;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  /* Title */
  h1 {
    font-size: 24px;
    margin-bottom: 20px;

  }
  
  /* Dropdown & Date Picker Container */
  .dropdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    width: 42%;
  }
  
  /* Dropdown Styling */
  .dropdown {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  

  
  /* Date Picker Styling */
  .date-picker {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease-in-out;
  }
  
  .date-picker:hover {
    background: #f1f1f1;
  }
  
  /* Chart Container */
  .chart-container {
    width: 100%;
    height: 600px;
    border-radius: 10px;
    padding: 20px;

  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .dropdown-container {
      flex-direction: column;
      gap: 10px;
    }
  
    .dropdown,
    .date-picker {
      width: 80%;
    }
  }
  